@import "../../styles/variables";

.backdrop {
  position: fixed;
  inset: 0;
  background: #0000004d;
  z-index: 20;
  display: grid;
  place-items: center;
  max-width: 1440px;
  margin: auto;
  overflow-y: scroll;
  padding: 20vmin 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .modal {
    background: white;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid $neutral-light;
    margin-top: 1.5rem;
    margin: auto;
    width: 630px;
    max-width: 85vw;
    position: relative;

    .rewardsContainer {
      display: grid;
      gap: 1em;
      margin-top: 1.5rem;
    }

    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        color: red;
      }
    }

    h2 {
      line-height: 1;
    }

    p {
      line-height: 1.65;
    }
  }

  .completed {
    text-align: center;
    width: 500px;
    max-width: 70vw;
  }
}

.rewards {
  border: 1px solid $neutral-light;
  border-radius: 10px;
  padding: 1em;

  .selected {
    position: relative;

    hr {
      position: absolute;
      top: 0;
      left: -1em;
      right: -1em;
      border: none;
      border-top: 1px solid $neutral-light;
    }

    .enterPledge {
      padding-top: 2em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      p {
        flex: 1;
      }
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
    }

    .formField {
      width: 6rem;
      height: 2.1rem;
      position: relative;
      padding: 0.5em;
      border-radius: 10px;

      input {
        border-radius: 30px;
        padding: 0 1.75em;
        position: absolute;
        inset: 0;
        background: transparent;
        outline: none;
        border: 1px solid $neutral-light;
        font-weight: 700;
        caret-color: $pri-mod;

        &:focus {
          border-color: $pri-mod;
        }
      }

      .inputError {
        border-color: red !important;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1em;
        font-weight: 700;
        color: $neutral-light;
      }
    }
  }

  .submit {
    padding: 0.9rem 1.25rem !important;
  }

  .circle {
    all: unset;
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid $neutral-mid;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0;

    span {
      display: inline-block;
      height: 50%;
      aspect-ratio: 1;
      background: $pri-dark;
      border-radius: 50%;
    }
  }

  .rewardsTxt {
    .desc {
      margin-left: 3.5rem;
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    //
    &__titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.15em;
      cursor: pointer;

      .indicateError {
        font-weight: 700;
        text-decoration: underline;
      }

      &:hover > .rewardsTxt__title {
        color: $pri-dark;
      }

      &:hover > .circle {
        border-color: $pri-mod;
      }
    }

    &__title {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.25rem;
      align-items: center;
      gap: 1.5em;
      flex: 1;
      margin-left: 1.45rem;
      margin: 0.5rem 0;
      line-height: 1.15;

      span {
        display: inline-block;
        color: $pri-mod;
        font-weight: 500;
        font-size: 1.15rem;
        line-height: 1;
        // align-self: center;
      }
    }
  }

  .figure {
    padding: 0;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .rewards {
    .rewardsTxt {
      .desc {
        margin-left: 0;
      }
    }

    .mobile {
      display: flex;
    }
  }

  .rewards .rewardsTxt__title {
    gap: 5px;
  }

  .selected {
    .enterPledge {
      flex-direction: column;
      align-items: center;
    }
  }
}
